body{
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url("../n.jpg");
    display: flex;
    align-items: center;
    justify-content: center;



}

.title{
    color:rgb(251, 80, 7);;
    text-align: center;
    font-family: sans-serif;


}


.content{
    color:rgb(251, 80, 7);
    text-align: center;
    
    font-family: sans-serif;


}

.displayContent{
   opacity: 1;
   border-radius: 20px;
   background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    
   
    


}